.skeleton {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    width: 572px;
    padding: 32px 24px;
    box-sizing: border-box;
}

.skeleton__header {
    display: flex;
    margin-bottom: 24px;
}

.header__info {
    flex: 1;
    align-self: center;
}

.header__avatar {
    background: var(--grey-3);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-right: 16px;
}

.skeleton__rectangle {
    height: 17px;
    background: var(--grey-3);
    margin-bottom: 8px;
}

.skeleton__rectangle--30 {
    width: 30%;
}

.skeleton__rectangle--70 {
    width: 70%;
}

.skeleton__rectangle:last-child {
    margin-bottom: 0;
}